<table>
	<tr>
		<td>Name</td>
		<td>:</td>
		<td>{{user?.name}}</td>
	</tr>
	<tr>
		<td>Username</td>
		<td>:</td>
		<td>{{user?.username}}</td>
	</tr>
	<tr>
		<td>Email</td>
		<td>:</td>
		<td>{{user?.email}}</td>
	</tr>
	<tr>
		<td>Phone</td>
		<td>:</td>
		<td>{{user?.phone}}</td>
	</tr>
	<tr>
		<td>Website</td>
		<td>:</td>
		<td>{{user?.website}}</td>
	</tr>
	<tr>
		<td>City</td>
		<td>:</td>
		<td>{{user?.address.city}}</td>
	</tr>
	<tr>
		<td>Street</td>
		<td>:</td>
		<td>{{user?.address.street}}</td>
	</tr>
	<tr>
		<td>Zipcode</td>
		<td>:</td>
		<td>{{user?.address.zipcode}}</td>
	</tr>
	<tr>
		<td>Suite</td>
		<td>:</td>
		<td>{{user?.address.suite}}</td>
	</tr>
	<tr>
		<td>Geo</td>
		<td>:</td>
		<td>{{user?.address.geo.lat}} {{user?.address.geo.lng}}</td>
	</tr>
	<tr>
		<td>Company Bs</td>
		<td>:</td>
		<td>{{user?.company.bs}}</td>
	</tr>
	<tr>
		<td>Catch Phrase</td>
		<td>:</td>
		<td>{{user?.company.catchPhrase}}</td>
	</tr>
	<tr>
		<td>Company Name</td>
		<td>:</td>
		<td>{{user?.company.name}}</td>
	</tr>
</table>